{
  "env": {
    "browser": true
  },
  "globals":{
    "Life": true,
    "Console": true,
    "events": true
  },
  "rules": {
    "no-multi-spaces": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": [ 2, {"vars": "local"} ]
  }
}
